In [1]:
import pandas as pd
import researchpy as rp
import scipy.stats as stats

In [2]:
df = pd.read_csv("./result.csv")

In [3]:
rp.summary_cont(df['Score'].groupby(df['Model']))

              N    Mean      SD      SE  95% Conf.  Interval
Model
ChatGPT-4o  294  4.0986  1.0615  0.0619     3.9768    4.2205
Gemini      294  3.9524  1.1674  0.0681     3.8184    4.0864
Llama-3     309  4.0841  1.1507  0.0655     3.9553    4.2129
human       318  3.9245  1.1568  0.0649     3.7969    4.0522

In [4]:
import scipy.stats as stats

In [ ]:
# One way ANOVA for comparison among different LLMs

In [7]:
stats.f_oneway(df['Score'][df['Model'] == 'ChatGPT-4o'],
               df['Score'][df['Model'] == 'Gemini'],
               df['Score'][df['Model'] == 'Llama-3'])

F_onewayResult(statistic=1.5096278273301669, pvalue=0.22155501137772818)

In [ ]:
# One way ANOVA for comparison between human and LLMs

In [5]:
stats.f_oneway(df['Score'][df['Model'] != 'human'],
               df['Score'][df['Model'] == 'human'])

F_onewayResult(statistic=2.671539254620656, pvalue=0.10241665306809788)